
header-drawer {
    justify-self: end !important;
    margin-left: -1.2rem;
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: .8rem;
}

.header__icon--account {
    background: #4B93D0;
    border-radius: 50%;
}

.header-wrapper .header-buynow {
    background-color: #07C961;
}

.header-wrapper .header-buynow:after {
    box-shadow: unset;
}

.announce-bgimage {
    background-size: cover;
}

.announcement-bar__message {
    padding: 2rem 0;
}

.announcement-bar__message span {
    font-size: 24px;
    font-weight: 800;
    line-height: 29.05px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}

.mr-20 {
    margin-right: 20px;
}

.header__icon--account .svg-wrapper {
    width: 25px;
    height: 25px;
}

.firebee-product-page .product-form__input--pill input[type=radio]+label {
    width: 100%;
    text-align: left;
}

.m-auto {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.gap-8 {
    gap: 8px;
}

/* .product__column-sticky{
    margin-bottom: 100px;
} */
/* .trustbadge{
    margin-top: 25px;
} */
.hidedesktop {
    display: none;
}

.trustbadge_box {
    display: flex;
    flex-wrap: wrap;
}

.hidedesktop {
    display: none;
}

.firebee-product-page .list-payment {
    justify-content: center;
}

.trustbadge_box .details_box {
    width: 50%;
    display: flex;
    margin-top: 20px;
}

.details_content {
    margin-left: 15px;
}

.product__title .product_custom_title {
    font-family: Poppins;
    font-size: 36px !important;
    font-weight: 700 !important;
    line-height: 54px !important;
    color: #3F3631 !important;
}

.product__text {
    font-family: Poppins;
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 24px !important;
    color: #3F3631 !important;
    text-transform: none !important;
}

.star_kit_box {
    background-color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #C4C4C4 !important;
}

.product-form__input--pill input[type=radio]:checked+label {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    color: #3F3631 !important;
    border: 2px solid !important;
    border-width: 2px !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(180deg, #2D5ECE 0%, #9F4EA1 100%) !important;
}

.star_kit_price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star_kit_price_box .star_kit_h {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #3F3631;
}

.star_kit_price_box .star_kit_price {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    color: #3F3631;
}

.star_kit_price_box .star_kit_comprice {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    color: #3F3631;
    text-decoration: line-through;
    text-decoration-color: red;
    margin-right: 10px;

}

.most_kit {
    margin-bottom: 10px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #A34D9F 0%, #275FD0 100%);
    display: inline-block;
    color: #fff;
    border-radius: 100px;
}

.star_kit_li {
    margin-bottom: 5px;
    align-items: self-start;
}

.star_kit_li_p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
}

.most_kit_content {
    margin: 15px 0;
}

.star_kit_box .svg-wrapper>svg {
    height: auto !important;
    width: auto !important;
}

.main_p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-top: 10px;
}
/* .product-form__input--pill input[type=radio]+label:hover{
    border: 1px solid #C4C4C4 !important;
} */

@media screen and (max-width: 991px) {
    .trustbadge_box .details_box {
        display: block;
        text-align: center;
    }
    .header__icons {
        justify-self: center;
    }
}

@media screen and (max-width: 749px) {
    .announcement-bar__message span {
        font-size: 18px;
        line-height: 21.78px;
    }

    .hidemobile {
        display: none !important;
    }

    .hidedesktop {
        display: block;
    }

    .trustbadge_box {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .header-buynow {
        padding: 0 2rem;
    }

    .star_kit_li_p {
        font-size: 16px;
    }
}